PORT=4000
WATSONX_API_KEY=
WATSONX_PROJECT_ID=
WATSONX_BASE_URL=https://us-south.ml.cloud.ibm.com
WATSONX_MODEL_ID=ibm/granite-3-8b-instruct
WATSONX_MODEL_CANDIDATES=
WATSONX_TIMEOUT_MS=10000
API_SHARED_TOKEN=
IMD_RAINFALL_API_URL=
MUNICIPAL_ADVISORY_API_URL=
FLOOD_GIS_API_URL=
